<h2>Welcome to My Restaurant Review!</h2>
<p>
  Here you can post reviews of your favorite (and not so favorite) restaurants.  Bon appetit!
  Online review websites are one of the best lead generation tools for restaurants. But only if your restaurant has plenty of great reviews.

Get listed as one of the highest-rated restaurants in your area and you can expect a flood of visitors. Suffer from a string of poor reviews and you can forget about having a full house.

Like ’em or hate ’em, restaurant review sites have become a major part of the restaurant industry. It is absolutely crucial for restaurateurs to be encouraging customers to review their restaurant and actively monitoring (and responding to) what customers have to say.
</p>
<% if logged_in? %>
<fieldset>
<legend>
  <p>
    Click on one of the following links below to:
  </p> <!--CRUDS-->
</legend>
<br/>
    <ul>
      <li><%= link_to "(C)reate your review", new_review_path %></li>
    </ul>
    <ul>
      <li><%= link_to "(R)ead your review", user_path(current_user) %></li>
    </ul>
    <ul>
      <li><%= link_to "(U)pdate your review", user_path(current_user) %></li>
    </ul>
    <ul>
      <li><%= link_to "(D)elete your review", user_path(current_user) %></li>
    </ul>
</fieldset>
<% end %>
<br/>