<fieldset>
<legend>
  <h3>Restaurant Page</h3>
</legend>
</br>
<ul>
  <li>
    <b>Restaurant Name:</b>&ensp;
  
  </li>
  <br/>
  <li>
    <b>Cuisine:</b>&ensp;
   
  </li>
  <br/>
  <li>
    <b>Total Reviews Submitted:</b>&ensp;
    
  </li>
  <br/>
  
  <div class="reviews">
  </div>
  <br/>
  <li><b>More info, 'click' to search for:</b>&ensp;
  <br/>
  <li><%= link_to "Submit New Review", new_review_path %></li>
  
</ul>

</fieldset>
<br/>