<br/>
<fieldset>

  <h2>Restaurant Reviews</h2>

<br/>
<ul>
  <% @reviews.each do |review| %>
    <%= render partial: "more", locals: {review: review} %>
  <% end %>
</ul>
<%= page_entries_info @reviews %>
<%= paginate @reviews, window:2 %>
</fieldset>
<br/>